@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-style: normal;
  font-weight: 600;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}
