h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}
