<div class="background">
  <div id="chapter3" class="chapter container section">
    <p class="chapter__number">03</p>

    <div class="chapter__content-box">
      <p class="chapter__start-text">where you go is the key</p>
      <h2 class="chapter__title">Understand Your Map & Timing</h2>
      <p class="chapter__description">
        To start, print out the hiking guide and map. If it’s raining, throw
        them in a Zip-Lock bag. Read over the guide, study the map, and have a
        good idea of what to expect. I like to know what my next landmark is as
        I hike. For example, I’ll read the guide and know that say, in a mile, I
        make a right turn at the junction..
      </p>
    </div>

    <img
      src="./images/chapters/03.jpg"
      alt="tourist holding a compass"
      class="chapter__img"
    />
  </div>
</div>

