<div class="gradient">
  <div id="chapter1" class="chapter container section">
    <p class="chapter__number">01</p>

    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="250"
      class="chapter__content-box"
    >
      <p class="chapter__start-text">get started</p>
      <h2 class="chapter__title">What level of hiker are you?</h2>
      <p class="chapter__description">
        Determining what level of hiker you are can be an important tool when
        planning future hikes. This hiking level guide will help you plan hikes
        according to different hike ratings set by various websites like All
        Trails and Modern Hiker. What type of hiker are you – novice, moderate,
        advanced moderate, expert, or expert backpacker?
      </p>
    </div>

    <img
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="250"
      src="./images/chapters/01.jpg"
      alt="a tourist in the mountains"
      class="chapter__img"
    />
  </div>
</div>
