<div class="section container">
  <div class="footer">
    <div class="footer-section">
      <h2 class="logo">MNTN</h2>
      <p class="footer-section__info">
        Get out there & discover your next slope, mountain & destination!
      </p>
    </div>

    <ul class="footer-section">
      <li class="footer-section__info">More on The Blog</li>
      <li class="footer-section__info">About MNTN</li>
      <li class="footer-section__info">Contributors & Writers</li>
      <li class="footer-section__info">Write For Us</li>
      <li class="footer-section__info">Contact Us</li>
      <li class="footer-section__info">Privacy Policy</li>
    </ul>

    <ul class="footer-section">
      <li class="footer-section__info">More on MNTN</li>
      <li class="footer-section__info">The Team</li>
      <li class="footer-section__info">Jobs</li>
      <li class="footer-section__info">Press</li>
    </ul>
  </div>
  
  <p class="copyright">
    Copyright 2023 MNTN, Inc. Terms & Privacy
  </p>
</div>
