<div id="header" class="header">
  <div class="main-header">
    <h2 class="main-header__logo">MNTN</h2>
    <ul class="main-header-menu">
      <li class="main-header-menu__item">Equipment</li>
      <li class="main-header-menu__item">About us</li>
      <li class="main-header-menu__item">Blog</li>
    </ul>
    <div class="account">
      <p class="account__title">Account</p>

      <svg class="account__logo">
        <use></use>
      </svg>
    </div>
  </div>
     
  <div class="socials-and-site-nav">
    <div class="socials">
      <p class="socials__text">Follow us</p>
      <ul class="socials__list">
        <li class="socials__item">
          <a href="https://www.instagram.com/">
            insta
            <svg>
              <use></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="https://twitter.com/">
            twitt
            <svg>
              <use></use>
            </svg>
          </a>
        </li>
      </ul>
    </div> 
       
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a href="#header" class="site-nav__link">Start</a>
        </li>
        <li class="site-nav__item">
          <a href="#chapter1" class="site-nav__link">01</a>
        </li>
        <li class="site-nav__item">
          <a href="#chapter2" class="site-nav__link">02</a>
        </li>
        <li class="site-nav__item">
          <a href="#chapter3" class="site-nav__link">03</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
   