@import '../utils/mixins';

.chapter2__number {
  display: none;
}

@media screen and (min-width: 1280px) {
  .chapter2__number {
    display: block;
    @include font(700, 240px, 240px);
    opacity: 0.1;
    position: absolute;
    right: -70px;
    top: 65px;
  }
}
