@import '../utils/mixins';

.chapter {
  display: flex;
  position: relative;

  &__number {
    @include font(700, 240px, 240px);
    opacity: 0.1;
    position: absolute;
    top: 70px;
    left: -70;
  }

  &__content-box {
    padding: 80px;

    .chapter__start-text {
      @include font(800, 14px, 22px);
      text-transform: uppercase;
      letter-spacing: 6px;
      color: var(--secondary-text-color);
      position: relative;
      margin-left: 96px;

      &::before {
        content: '';
        position: absolute;
        width: 72px;
        height: 2px;
        top: 10px;
        left: -90px;
        background-color: var(--secondary-text-color);
      }
    }

    .chapter__title {
      margin-top: 27px;
      @include font(600, 64px, 77px);
    }

    .chapter__description {
      margin-top: 27px;
      @include font(700, 18px, 32px);
    }
  }

  .chapter__img {
    width: 566px;
    height: 720px;
  }
}
