@import '../utils/mixins';

.header {
  background-color: transparent;
  padding-top: 34px;
  width: 1550px;
  // padding-left: 15px;
  // padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;

  &-menu {
    display: flex;
    column-gap: 30px;
  }
}

.socials-and-site-nav {
  margin-top: 180px;

  .socials {
    left: 4%;
    position: fixed;

    &__text {
      @include font(700, 18px, 22px);
      transform: rotate(90deg);
      transform-origin: left top;
      margin-left: 20px;
    }

    &__list {
      //   margin-top: -300px;
    }
  }

  .site-nav {
    border-right: 3px solid var(--primary-text-color);
    padding-right: 15px;
    right: 4%;
    position: fixed;

    &__list {
      align-items: end;
      display: flex;
      flex-direction: column;
      row-gap: 60px;
    }

    &__link {
      @include font(700, 18px, 26px);
      color: inherit;
    }
  }
}
