@import '../utils/mixins';

.hero {
  max-width: 330px;
  padding: 60px 0 50px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &__text {
    @include font(700, 13px, 18px);
    color: var(--secondary-text-color);
    letter-spacing: 6px;
    text-transform: uppercase;
    position: relative;
  }

  &__title {
    @include font(600, 28px, 38px);
    margin-top: 32px;
    font-family: 'EB Garamond', serif;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 550px;
    text-align: start;

    &__text {
      @include font(800, 15px, 20px);
      margin-left: 96px;

      &::before {
        content: '';
        position: absolute;
        width: 72px;
        height: 2px;
        top: 10px;
        left: -90px;
        background-color: var(--secondary-text-color);
      }
    }

    &__title {
      @include font(600, 58px, 80px);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    max-width: 950px;
    padding: 150px 0 250px 0;
    
    &__text {
      @include font(800, 18px, 22px);
    }

    &__title {
      @include font(600, 88px, 100px);
    }
  }
}
